@using SinavOlusturma.Models.ViewModels

@model QuestionsOptionViewModel


    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <div class="input-group-text">@Model.OptionName )</div>
        </div>
        <input type="text" asp-for="Description" class="form-control" />
      </div>

     
 
